@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}
.declined-btn {
    width: 68px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #ffeaef;
    color: #b60b19;
}
.confirmed-btn {
    width: 68px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #ecffea;
    color: #0bb67e;
}

